*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

nav{
    width: 100vw;
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    transition: 0.5s;
}

nav div a{
    margin-right: 50px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.logo a{
    
}

.v-header{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
}

.fullscreen-video-wrap{
    position:absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video{
    min-height: 100%;
    min-width: 100%;
}

.header-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    left: 0;
    background: rgba(69,27,74,0.88);
    z-index: 1;
    opacity: 0.85;
}

.header-content{
    z-index: 2;
}

.header-content h1{
    font-size: 50px;
    margin-bottom: 0;
}

.header-content p{
    font-size: 2rem;
    display: block;
    padding-bottom: 2rem;
}

.redirect-people{
    text-decoration: none;
    color: green;
}

.redirect-companies{
    text-decoration: none;
    color: darkgreen;
}

b{
    color: green;
}

.btn{
    background: #34b3a0;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 8px;
    margin: 0 20px;
}

.container{
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.section-a h2{
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
}

.section-a{ /*Define a altura da segunda section.*/
    height: 720px;
    background: #fff;
}

.second-container .box p{
    font-size: 20px;
}

.second-container{
    display: flex;
    flex-direction: row;
}

.second-container .box
{
    position: relative;
    width: 400px;
    height: 400px;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0,0,0,1);
    border-radius: 5px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.second-container .box .icon{ /*define o tamanho do circulo onde ficam os icones das etapas*/
    position: relative;
    width:  80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
    overflow: hidden;
}

.second-container .box:nth-child(1) .icon
{
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63;
}

.second-container .box:nth-child(1):hover .icon
{
    box-shadow: 0 0 0 500px #e91e63;
    background: #23e629;
}

.second-container .box:nth-child(2) .icon
{
    box-shadow: 0 0 0 0 #23e629;
    background: #23e629;
}

.second-container .box:nth-child(2):hover .icon
{
    box-shadow: 0 0 0 500px #23e629;
    background: #e91e63;
}

.second-container .box:nth-child(3) .icon
{
    box-shadow: 0 0 0 0 #2196f3;
    background: #2196f3;
}

.second-container .box:nth-child(3):hover .icon
{
    box-shadow: 0 0 0 500px #2196f3;
    background: #e91e63;
}

.second-container .box .content{
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.second-container .box:hover .content{
    color: #fff;
}

.second-container .box:hover .content h3
{
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}

.container .box .content p{
    margin: 0;
    padding: 0;
}

.second-container .box:before /*Decide o tamanho da segunda cor das divs na segunda section*/
{
    content:  '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.2);
    z-index: 2;
}

.section-b{
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: #f1f2f6;
}

.inside-section-b{
    width: 900px;
}

.section-b h2{
    text-align: center;
    font-size: 25px;
}

h4{
    text-align: center;
    font-size: 25px;
    margin-bottom: 0;
}
.another-box{
    display: flex;
    justify-content: space-between;
}

h5{ /*do titulo das profissoes*/
    font-size: 20px;
    text-align: center;  
    padding: 0;
    padding-right: 20px;
    margin-bottom: 0;
}

ul{
    margin: 0;
    padding-left: 1;
}

.section{
    padding: 20px 0;
}

.section-c{
    background: gray;
    color: #fff;
}

.brief{
    height: 350px;
}

.our-team{
    height: 300px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.persons img{
    margin: 20px;
    width: 80px;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: 0.4s all;
}

.persons img:hover{
    filter: none;
}

.name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

footer{
    background-color: #273a50;
    width: 100vw;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: #151515;
    border-bottom: 1px lightblue solid;
}

.footer{
    display: flex;
    justify-content: space-around;
    height: 250px;
    width: 1366px;
}

.highlight{
    color: #2fbddc;
    font-size: 20px;
    border-bottom: 1px lightblue solid;
}

.column{
    padding-top: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    color: #151515;
}

.column p{
    color: #fff;
}

.flex-box{
    margin-top: 10px;
}

.networks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 15%;
}

.sn{
    width: 15px;
    height: 15px;
    margin-top: 20px;
}

.small-line{
    border-top: 1px lightblue solid;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 15px;
    color: #fff;
}

section{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: space-between;
}

.bg-banner{
    align-items: center;
    background-image: url('../imgs/back-inicial.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 50%;
}

.bg-banner h2{
    color: #fff;
}

.back-index{
    align-items: center;
    background:linear-gradient(rgba(0, 140, 255, 0.66), rgba(0, 140, 255, 0.66)), url('../imgs/entrevista.jpg');
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    height: 600px;
    justify-content: space-evenly;
}

.back-index p, .back-index  h1, .back-index h2{
    color: #fff;
    width: 50%;
}

.navbar-index{
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    color: #fff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-index ul{
    align-items: center;
    display: flex;
    list-style: none;
}

.navbar-index a{
    color: white;
    margin: 0 10px;
}

.bt-log-index{
    background-color: #fff;
    border: blue 1px solid;
    border-radius: 35px;
    color: blue;
    font-size: 25px;
    padding: 10px 30px;
    text-decoration: none;
}

.bt-log-index:hover{
    background-color: rgb(194, 209, 226);
}

.log{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 50%;
}

.log div{
    display: flex;
    flex-direction: column;
}

.log form{
    width: 80%;
}

.log input[type= 'email'], input[type= 'password']{
    border: none;
    border-bottom: 1px solid #000;
    font-size: 19px;
    margin: 5px 0;
    padding: 5px 0;
    width: 100%;
}

.log input[type='email']:focus, input[type='password']:focus{
    border-bottom: 2px solid #000;
    transition: 1s ease-out;
    outline: none;
}

.log input[type='submit']{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    color: #000;
    cursor: pointer;
    font-size: 15px;
    height: 40px;
    margin: 10px 0;
    width: 100px;
}

.log input[type='submit']:hover{
    background-color: rgb(245, 245, 245);
}

.center{
    align-items: center;
    display: flex;
    justify-content: center;
}

.oferecim{
    align-items: center;
}

.oferecim p{
    font-size: 8px;
}

.oferecim img{
    width: 130px;
}

.alert{
    color: red;
    padding: 10px;
}

@media(max-width:960px){
    .container{
        padding-right: 3rem;
        padding-left: 3rem;
    }
}

@media only screen and (max-width: 500px){
    .bg-banner{
        display: none;
    }

    .log{
        width: 100%;
    }

    .log form{
        width: 80vw;
    }

    .log input[type= 'email'], input[type= 'password']{
        width: 100%;
    }
}