body{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    margin: 0;
    padding: 20px 0;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb{
    background: rgba(123, 14, 224);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(84, 8, 155);
}

.cadastro{
    align-items: center;
    background-color: white;
    border: 1px solid rgba(123, 14, 224);
    border-radius: 20px;
    box-shadow: 0px 2px 2px rgba(123, 14, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    width: 70%;
}



.cadastro form{
    width: 65%;
}

.cadastro p{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.cadastro input{
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    width: 100%;
}

.cadastro input:focus{
    border-bottom: 3px solid black;
    transition-delay: 0.3s;
    transition: 0.1s ease-in;
}

.btn-acess{
    background-color: rgba(123, 14, 224, 0.945);
    color: white;
    left: 0;
    padding: 5px;
    position: fixed;
    top: 30%;
}