body {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 90px;
}

input {
    border-radius: 5px;
}

a {
    align-items: center;
    display: flex;
    justify-content: left;
    text-decoration: none;
    width: 70vw;
}

.base-cadastro {
    align-items: center;
    background-color: white;
    border: solid 1px purple;
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding: 20px;
    width: 70%;
    border-radius: 15px;
    color: purple;
}

.gray {
    background-color: black;
}

.gray * {
    color: white;
    background-color: gray;
}

.gray div,
.gray form {
    background-color: gray;
}

input {
    background-color: lightcyan;
}

textarea {
    background-color: lightcyan;
}