body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb{
    background: rgba(123, 14, 224);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(84, 8, 155);
}

section {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: space-between;
}

.bg-banner {
    align-items: center;
    background-image: url('../imgs/back-inicial.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 50%;
}

.bg-banner h2 {
    color: #fff;
    padding: 10, 10, 10, 10;
}

h2 {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 17px;
}

a {
    color: black;
    text-decoration: none;
}

.log {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 50%;
}

.log div {
    display: flex;
    flex-direction: column;
}

.log form {
    width: 80%;
}

.log input[type='email'],
input[type='password'] {
    border: none;
    border-bottom: 1px solid #000;
    font-size: 19px;
    margin: 5px 0;
    padding: 5px 0;
    width: 100%;
}

.log input[type='email']:focus,
input[type='password']:focus {
    border-bottom: 2px solid #000;
    transition: 1s ease-out;
    outline: none;
}

.log input[type='submit'], .btn {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    color: #000;
    cursor: pointer;
    font-size: 15px;
    height: 40px;
    margin: 10px 0;
    width: 100px;
}

.log input[type='submit']:hover, .btn:hover {
    background-color: rgb(245, 245, 245);
}

.center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.oferecim {
    align-items: center;
}

.oferecim p {
    font-size: 8px;
}

.oferecim img {
    width: 130px;
}

.alert {
    color: red;
    padding: 3px;
}

.btn-log{
    align-items: center;
    border-bottom: 0.5px solid salmon;
    display: flex;
    flex-direction: row !important;
    width: 90%;
}

.btn-log a{
    text-align: center;
    width: 50%;
}

.none{
    display: none !important;
}

.w-100{
    width: 100% !important;
}

.h-auto{
    height: auto !important;
}

.ativo{
    border-bottom: 3px solid salmon;
}

@media only screen and (max-width: 500px) {
    .bg-banner {
        display: none;
    }
    .log {
        width: 100%;
    }
    .log form {
        width: 80vw;
    }
    .log input[type='email'],
    input[type='password'] {
        width: 100%;
    }
}

label {
    color: purple;
}