/* A */

body {
    display: grid;
    font-family: 'Montserrat', sans-serif;
    grid-template-areas: 'nav nav nav nav' 
                        'header header header header' 
                        'main main main main' 
                        'footer footer footer footer';
    /* grid-template-columns: 25% auto auto auto;  */
    margin: 0;
}


/* >>> Modificação de scollbar */
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb{
    background: rgb(169, 41, 255);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(138, 33, 207);
}
/*Até aqui*/


/* >>> Modificações do estilo da base_logado*/
nav {
    align-items: center;
    display: flex;
    grid-area: nav;
    justify-content: space-between;
    padding: 0 7em;
    z-index: 1;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: rgb(228, 227, 227);
}

header {
    align-items: center;
    display: flex;
    grid-area: header;
    justify-content: space-evenly;
    padding: 10px 0;
}

header div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

header div>* {
    margin: 0;
    padding: 0;
}

header img {
    border: 5px solid rgb(169, 41, 255);
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

main {
    align-items: center;
    display: flex;
    grid-area: main;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 600px;
}

/* até aqui */


.container {
    align-items: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* >>> Estilo da lista de conteudo na pagina inicial */
.conteudo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.conteudo ul {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.conteudo li {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    width: 25%;
}
/* Até aqui */


/* >>> Estilização da imagem de perfil do usuario e criação de uma classe q ajusta as imagens (Usado no header do base_logado e na lista do conteudo) */
#img_perfil{
    height: 200px;
    width: 200px;
}

.img {
    align-items: center;
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin-bottom: 10px;
}

.img p {
    padding: 0;
    margin: 0;
}

.img img {
    height: 30px;
    width: 30px;
}
/* Até aqui */

/* >>> Classe da pagina do conteúdo de estudo */
.pag-conteudo {
    align-items: center;
    text-align: justify;
}

.pag-conteudo img {
    width: 600px;
}

.pag-conteudo p {
    margin: 20px 0;
}
/* Até aqui */

/* >>> Classe da logo */
.logo {
    font-family: 'Assistant', sans-serif;
    font-size: 15px;
    margin-top: 0px;
}

.logo-green {
    color: rgb(6, 247, 6);
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 30px;
    margin: 0 0 0 -2px;
}
/* Até aqui */

/* >>> Classe de estilização do nav na parte logada do usuario (usado no base_logado)*/
.purple {
    background-color: rgb(57, 0, 131);
    color: #fff;
}
/* Até aqui */

/* >>> Classe de estilização de nav na parte logado, isso eh usado no nav do main (Veja no base_logado) */
.sticky {
    align-items: center;
    background-color: #FFF;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: initial;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    padding: 0;
    width: 100%;
}

.sticky,
.sticky a {
    color: #000;
}

.sticky a:hover {
    color: gray;
}

.sticky ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    width: 100%;
}
/* Até Aqui */


/* Essas classes são responsáveis apenas pela estilização de cada componente da lista de conteudo */
.li-c1 {
    background-color: rgb(61, 1, 100);
    border-right: 10px solid rgb(247, 163, 6);
    color: white;
    transition: 1s;
}

.li-c2 {
    background-color: rgb(0, 23, 156);
    border-right: 10px solid rgb(247, 99, 0);
    color: white;
    transition: 1s;
}

.li-c3 {
    background-color: rgb(250, 92, 0);
    border-right: 10px solid rgb(0, 132, 172);
    color: white;
    transition: 1s;
}

.li-c1 a,
.li-c2 a,
.li-c3 a {
    color: #fff;
    text-decoration: none
}

.li-c1:hover,
.li-c2:hover,
.li-c3:hover {
    transform: scale(1.2);
}
/* Até aqui */

/* >>> Classe da div dos exercicios */
.exercicios {
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: -1.7px 1.7px 1px rgb(150, 148, 148);
    margin: 50px 0;
    padding: 10px;
    width: 80%;
}

.exercicios div {
    align-items: center;
    display: flex;
}

.exercicios img {
    height: 50px;
    width: 50px;
}

.exercicio-w-img { /* >>> Essa classe ajusta o tamanho da div da imagem */ 
    justify-content: center;
    width: 15%
}
/* Até aqui */

/* >>> Classe que ajusta os elementos p frente (Usado na div exercicios, na pagina usuario) */
.column-start {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0;
}

.column-start h3,
p {
    margin: 1px 0;
}

.column-start a {
    color: rgb(88, 88, 88);
    text-decoration: none;
}

.column-start a:hover {
    color: #000;
}
/* Até aqui */


/* >>> Essas classes ajustam a parte de codigos (Exemplos) da pagina conteudo*/
.code {
    align-items: flex-start;
    background-color: rgb(39, 39, 39);
    border-radius: 15px 0 15px 0;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 70%;
}

.code div {
    flex-direction: initial;
}

.py-gray {
    color: rgb(168, 168, 168) !important;
}

.py-white {
    color: #fff !important;
}

.py-green {
    color: rgb(191, 230, 18) !important;
}

.py-purple {
    color: rgb(169, 41, 255) !important;
}
/* Até aqui */

.my-1 {/* >>> Classe q ajusta a margin do elemento */
    margin: 20px 0;
}

.center {/* >>> Classe que deixa o elemento no centro */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 100%;
}

/* >>> Classes usadas na pagina lista empresa */
.lista-empresa{
    width: 80%;
}

.lista-empresa ul{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

.lista-empresa a{
    color: gray;
    font-size: 30px;
    text-decoration: none;
}

.lista-form{
    display: flex;
}

.lista-form input[type='text']{
    border: none;
    border-bottom: 1px solid gray;
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    outline: none;
    width: 100%;
}

.lista-form input[type='text']:focus{
    border-bottom: 3px solid black;
    transition-delay: 0.3s;
    transition: 0.1s ease-in;
}

.lista-form button{
    background: none;
    border: none;
    border-bottom: 1px solid black;
}

.atuacao{/* >>> Classe que ajusta a area de atuação na empresa (Veja em list-empresa.html) */
    font-size: 8px;
    justify-content: center;
}

.menor{
    color: gray;
    font-size: 15px;
    text-decoration: none;
}
/* Até aqui */

/* >>> Estilização do footer na paginas logadas  */
footer {
    align-items: center;
    background-color: rgb(169, 41, 255);
    display: flex;
    justify-content: space-evenly;
    grid-area: footer;
    position: inherit;
}

footer div {
    align-items: center;
    display: flex;
    justify-content: center;
}

footer ul {
    align-items: center;
    display: flex;
    list-style: none;
}

footer a {
    margin: 0 10px;
}
/* Até aqui */

@media only screen and (max-width: 1100px) and (orientation: portrait){
    main{
        min-height: 1100px !important;
    }
}

@media only screen and (max-width: 992px) { 

    .conteudo ul{
        flex-direction: column;
    }

    .conteudo li{
        margin: 10px 0;
        width: 98%;
    }

    .li-c1:hover,
    .li-c2:hover,
    .li-c3:hover {
        transform: scale(1);
    }

    .li-c1:active,
    .li-c2:active,
    .li-c3:active {
        transform: scale(0.9);
    }

}

@media only screen and (max-width: 768px) { 

    nav{
        padding: 0 5px;
    }

    header{
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    header div{
        align-items: center;
        margin: 15px 0;
    }

    footer, footer ul{
        flex-direction: column;
        padding: 0;
    }

    footer a{
        margin: 5px 0;
    }

    .exercicios div:not(.exercicio-w-img){
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .column-start{
        align-items: center;
        flex-direction: column;
    }

    .pag-conteudo{
        width: 98%;
    }

    .pag-conteudo img{
        width: 98%;
    }

 }