*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

nav{
    width: 100vw;
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    transition: 0.5s;
}

nav div a{
    margin-right: 50px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

/*
.logo a{
    
}
*/

.v-header{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
}

.fullscreen-video-wrap{
    position:absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video{
    min-height: 100%;
    min-width: 100%;
}

.header-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    left: 0;
    background: #1f0464;
    z-index: 1;
    opacity: 0.85;
}

.header-content{
    z-index: 2;
}

.header-content h6{
    font-size: 50px;
    margin-bottom: 0;
}

.header-content p{
    font-size: 2rem;
    display: block;
    padding-bottom: 2rem;
}

.redirect-people{
    text-decoration: none;
    color: green;
}

.redirect-companies{
    text-decoration: none;
    color: green;
}

b{
    color: green;
    font-size: 25px;
}

.btn{
    background: #34b3a0;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 8px;
    margin: 0px 20px 10px 20px;
}

.container{
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.section-a h2{
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
}

.section-a{ /*Define a altura e cor da segunda section.*/
    height: auto;
    background: #f1f2f6; 
}

.second-container .box p{
    font-size: 20px;
}

.second-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.second-container .box
{
    position: relative;
    width: 400px;
    height: 400px;
    padding: 40px;
    /*box-shadow: 0 5px 15px rgba(0,0,0,1);*/
    border-radius: 5px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.second-container .box:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,1);
}

.second-container .box .icon{ /*define o tamanho do circulo onde ficam os icones das etapas*/
    position: relative;
    width:  80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
    overflow: hidden;
}

.second-container .box:nth-child(1) .icon
{
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63;
}

.second-container .box:nth-child(1):hover .icon
{
    box-shadow: 0 0 0 500px #e91e63;
    background: #23e629;
}

.second-container .box:nth-child(2) .icon
{
    box-shadow: 0 0 0 0 #23e629;
    background: #23e629;
}

.second-container .box:nth-child(2):hover .icon
{
    box-shadow: 0 0 0 500px #23e629;
    background: #e91e63;
}

.second-container .box:nth-child(3) .icon
{
    box-shadow: 0 0 0 0 #2196f3;
    background: #2196f3;
}

.second-container .box:nth-child(3):hover .icon
{
    box-shadow: 0 0 0 500px #2196f3;
    background: #e91e63;
}

.second-container .box .content{
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.second-container .box:hover .content{
    color: #fff;
}

.second-container .box:hover .content h3
{
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}

.container .box .content p{
    margin: 0;
    padding: 0;
}

.second-container .box:before /*Decide o tamanho da segunda cor das divs na segunda section*/
{
    content:  '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.2);
    z-index: 2;
}

.section-b{
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #f8f9f9; 
}

.inside-section-b{
    width: 900px;
}

.section-b h2{
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
    color: #526173;
}

.inside-section-b div p{
    font-size: 19px;
}

h4{
    text-align: center;
    font-size: 25px;
    margin-bottom: 0;
    color: #526173;
}
.another-box{
    display: flex;
    justify-content: space-between;
}

h5{ /*do titulo das profissoes*/
    font-size: 20px;
    padding: 0;
    color: #ef474a;
    padding-right: 20px;
    margin-bottom: 0;
}

.section{
    padding: 20px 0;
}

.section-c{
    background: #f8f9f9 /*f1f2f6*/;
}

.brief{
    height: 300px;
    width: 400px;
    background: #fff;
    border: solid 1px #fff;
    border-radius: 12px;
}

.brief p{
    font-size: 19px;
}

.p1{
    margin-right: 25px
}

.p2{
    margin-left: 25px;
}

.our-team{
    height: auto;
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: center;
}

.one{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;
}

.two{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.persons {
    margin: 20px;
    width: 80px;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: 0.4s all;
}

.persons:hover{
    filter: none;
}

.name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.section-c h2{
    padding: 20px;
}

.last{
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: center;
}

footer{
    background-color: #273a50;
    width: 100vw;
}

footer a:hover{
    border-bottom: none;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: gray;
    border-bottom: 1px lightblue solid;
}

.footer{
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 1000px;
}

.flex-box{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.highlight{
    color: #2fbddc;
    font-size: 20px;
    border-bottom: 1px lightblue solid;
}

.column{
    padding-top: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    color: #151515;
}

.column p{
    color: #fff;
}

.footerlines{
    margin-top: 10px;
}

.networks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 15%;
}

.sn{
    width: 15px;
    height: 15px;
    margin-top: 20px;
}

.small-line{
    border-top: 1px lightblue solid;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 15px;
    color: #fff;
}

@media(max-width:960px){

    /*This first one is temporary*/
    .options{
        z-index: 1;
        position: fixed;
        background: rgba(69,27,74 .0);
        height: 100vh;
        width: 100vw;
        flex-direction: column;
    }

    .container{
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .section-a{
        height: auto;
    }

    .second-container{
        display: flex;
        flex-direction: column;
    }

    .second-container .box{
        margin: auto;
        width: auto;
        height: 400px;
        margin-bottom: 20px;
    }

    .section-b{
        height: auto;
    }

    .inside-section-b {
        width: auto;
    }

    .inside-section-b div{
        margin: 20px;
    }

    .another-box{
        flex-direction: column;
        justify-content: center;
    }

    .another-box div{
        width: 50vw;
        margin: auto;
    }

    .button-box{
        display: flex;
        flex-direction: column;
    }

    .btn{
        text-align: center;
    }

    .brief{
        width: 90vw;
        margin: auto;
        margin-bottom: 40px;
    }

    .one{
        flex-direction: column;
    }

    .two{
        flex-direction: column;
    }

    .hidden{
        display: none;
    }

    .footer{
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
    }
}