{% extends 'shared/base_logado.html' %}

{% block conteudo %}

    <section>
        <h2>Python</h2>
        <div>
            <p>
                    
                    Imprimir
                    O que é essa tal linguagem Python, afinal?
                    Olá a Todos! Aqui estarei dando inicio a um Guia sobre Python e para quem está querendo aprender esta linguagem, este artigo será uma boa opção.
                    
                    Partirei do princípio que você, leitor, não tem nenhum conhecimento sobre a linguagem, portanto começarei do zero, explicando desde os conceitos da linguagem, passando pelo clássico "hello word" e desbravando as funcionalidades e recursos da linguagem.
                    
                    
                    O que é Phyton?
                    Python é uma linguagem dinâmica, interpretada, robusta, multiplataforma, multi-paradigma (orientação à objetos, funcional, refletiva e imperativa) e está preparada para rodar em JVM e .NET Framework. Lançada em 1991 por Guido van Rossum, é uma linguagem livre (até para projetos comerciais) e hoje pode-se programar para desktops, web e mobile.</p>
        </div>
    </section>

{% endblock %}