{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Assistant|Liu+Jian+Mao+Cao|Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="container_nav">
            <div class="logo">
                <a href="">EMPREGA <b> + </b></a>
            </div>
            <div class="texto_nav">
                <a href=""> Sobre a Emprega <b> + </b> </a>
                <a href=""> Nossas Soluções </a>
                <a href=""> Idealizadores </a>
            </div>
        </div>
    </nav>

    <section>
        <div>
            <h1>
                Emprega <b> + </b>
            </h1>

        </div>
        <div class="section-_p">
            <p>
                A Emprega<b> + </b>, surgiu para resolver a necessidade de um gap de mercado dos últimos anos, ao qual vem afetando milhares de brasileiros, causando assim grandes problemas em questões de economia, desigualdade social e desemprego.
            </p>
        </div>
        <div>
            <p>
                A Emprega<b> + </b>, resolve estes problemas através de campanhas de empregabilidade, classificação de candidatos e qualificação profissional para colocação de vagas pontuais.
            </p>
        </div>
    </section>

    <main>
        <div>
            <h1>
                Nossas Soluções
            </h1>
        </div>

        <div>
            <p>
                Por meio de campanhas de empregabilidade nós da Emprega<b> + </b> conseguimos repor vagas do mercado de trabalho que antes estariam disponíveis para profissionais com um perfil divergente ao cenário atual.
            </p>
        </div>

        <div>
            <p>
                As campanhas são feitas através de um nivelamento profissional, após isso identificamos os perfis que irão se adpatar a vaga e dispomos de uma qualificação e então conseguimos a recolocação do profissional na vaga que antes estava aberta.
            </p>
        </div>

        <div>
            As campanhas são para os públicos mais vulneráveis como:
        </div>

        <div class="campanhas">
            <a href=""> 50+</a>
            <a href=""> LGBTq+ </a>
            <a href=""> Vulnerabilidade social </a>
            <a href=""> Emigrantes e Imigrantes </a>
        </div>
    </main>

    <aside>

        <div>
            <h1>
                Idealizadores
            </h1>
        </div>

        <div class="container_imagem_idealizadores">

            <div class="estevan">
                <img src="" alt=" Imagem do idealizador Estevan">
            </div>

            <div class="giovanni">
                <img src="" alt="Imagem do idealizador Giovanni">
            </div>


            <div class="lucas">
                <img src="" alt=" Imagem do idealizador Lucas">
            </div>

            <div class="matheus">
                <img src="" alt="Imagem do idealizador Matheus">
            </div>

            <div class="tamirys">
                <img src="" alt="Imagem da idealizadora Tamirys">
            </div>
        </div>

        <div class="container_biografia_idealizadores">

            <div class="estevan_biografia">

                Estudante de Administração de empresas <br> Estudante de Programação

            </div>

            <div class="giovanni_biografia">

                Estudante de Administração de empresas <br> Estudante de Programação

            </div>


            <div class="lucas_biografia">

                Estudante de Programação

            </div>

            <div class="matheus_biografia">

                Estudante de Programação

            </div>

            <div class="tamirys_biografia">

                Graduada em Engenharia Civil <br> Estudante de Programação

            </div>
        </div>
    </aside>

    <footer>
        <div class="texto_footer_titulo">
            <a href=""> Emprega <b> + </b> </a>
        </div>

        <div class="texto_footer">
            <a href=""> Sobre a Emprega <b> + </b> </a>
            <a href=""> Nossas Soluções </a>
            <a href=""> Idealizadores </a>
            <a href=""> Contate-nos </a>
        </div>

    </footer>
</body>