{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Assistant|Liu+Jian+Mao+Cao|Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="container_nav">
            <div class="logo">
                <a href="">EMPREGA <b> + </b></a>
            </div>
            <div class="texto_nav">
                <a href=""> Sobre a Emprega <b> + </b> </a>
                <a href=""> Nossas Soluções </a>
                <a href=""> Idealizadores </a>
            </div>
        </div>
    </nav>

    <section>
        <div>
            <h1>
                Emprega <b> + </b>
            </h1>

        </div>
        <div class="section-_p">
            <p>
                A Emprega<b> + </b>, surgiu para resolver a necessidade de um gap de mercado dos últimos anos, ao qual vem afetando milhares de brasileiros, causando assim grandes problemas em questões de economia, desigualdade social e desemprego.
            </p>
        </div>
        <div>
            <p>
                A Emprega<b> + </b>, resolve estes problemas através de campanhas de empregabilidade, classificação de candidatos e qualificação profissional para colocação de vagas pontuais.
            </p>
        </div>
    </section>

    <main>
        <div>
            <h1>
                Nossas Soluções
            </h1>
        </div>

        <div>
            <p>
                Por meio de campanhas de empregabilidade nós da Emprega<b> + </b> conseguimos repor vagas do mercado de trabalho que antes estariam disponíveis para profissionais com um perfil divergente ao cenário atual.
            </p>
        </div>

        <div>
            <p>
                As campanhas são feitas através de um nivelamento profissional, após isso identificamos os perfis que irão se adpatar a vaga e dispomos de uma qualificação e então conseguimos a recolocação do profissional na vaga que antes estava aberta.
            </p>
        </div>

        <div>
            <p>As campanhas são para os públicos mais vulneráveis como:</p>
        </div>

        <div class="campanhas">
            <a href=""> 50+</a>
            <a href=""> LGBTQ+</a>
            <a href=""> PCD</a>
            <a href=""> Mulheres</a>
            <a href=""> Afrodescendentes</a>
            <a href=""> Vulnerabilidade social </a>
            <a href=""> Emigrantes e Imigrantes </a>
        </div>
    </main>

    <section class="idealizadores-div">

        <div>
            <h1>
                Idealizadores
            </h1>
        </div>
        <div>

            <div class="idealizadores">
                <img src="../static/imgs/thamirys.jpg" alt="Thamirys">
                <h2>Thamirys</h2>
                <p>Graduada em engenharia civil</p>
                <p>Estudante de Gestão de Negócios e Inovação</p>
                <p>Estudante de Programação</p>
            </div>
            <div class="idealizadores">
                <img src="../static/imgs/thamirys.jpg" alt="Thamirys">
                <h2>Thamirys</h2>
                <p>Graduada em engenharia civil</p>
                <p>Estudante de Gestão de Negócios e Inovação</p>
                <p>Estudante de Programação</p>
            </div>
            <div class="idealizadores">
                <img src="../static/imgs/thamirys.jpg" alt="Thamirys">
                <h2>Thamirys</h2>
                <p>Graduada em engenharia civil</p>
                <p>Estudante de Gestão de Negócios e Inovação</p>
                <p>Estudante de Programação</p>
            </div>
            <div class="idealizadores">
                <img src="../static/imgs/thamirys.jpg" alt="Thamirys">
                <h2>Thamirys</h2>
                <p>Graduada em engenharia civil</p>
                <p>Estudante de Gestão de Negócios e Inovação</p>
                <p>Estudante de Programação</p>
            </div>
            <div class="idealizadores">
                <img src="../static/imgs/thamirys.jpg" alt="Thamirys">
                <h2>Thamirys</h2>
                <p>Graduada em engenharia civil</p>
                <p>Estudante de Gestão de Negócios e Inovação</p>
                <p>Estudante de Programação</p>
            </div>
            
        </div>

    </section>

    <footer>
        <div class="texto_footer_titulo">
            <a href=""> Emprega <b> + </b> </a>
        </div>

        <div class="texto_footer">
            <a href=""> Sobre a Emprega <b> + </b> </a>
            <a href=""> Nossas Soluções </a>
            <a href=""> Idealizadores </a>
            <a href=""> Contate-nos </a>
        </div>

    </footer>
</body>
</html>