{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Assistant|Liu+Jian+Mao+Cao|Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
    <title>Document</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <h1><a href="#">Emprega<b>+</b></a></h1>
        </div>

        <div class="options">
            <a href="/home">Sobre nós</a>
            <a href="#">Candidatos</a>
            <a href="/cad-empresa">Cadastrar Empresas</a>
            <a href="/cadastrar">Cadastrar</a>
            <a href="/login">Entrar</a>
        </div>
    </nav>

    <section class="v-header container">
        <div class="fullscreen-video-wrap">
            <video src="static/video/NycTraffic.mp4" autoplay="true" loop="true"></video>
        </div>
        <div class="header-overlay"></div>
        <div class="header-content">
            <h6>Bem Vindo a Emprega<b>+</b></h6>
            <p>As melhores <a href="#" class="redirect-people">vagas</a> de trabalho e os melhores <a href="" class="redirect-companies">candidatos</a> você encontra aqui!</p>
            <div class="button-box">
                <a href="" class="btn"> Sou Empresa </a>
                <a href="" class="btn">Sou Candidato</a>
            </div>
        </div>
    </section>

    <section class="section section-a">
        <h2>Etapas para candidatos</h2>
        <div class="container second-container">
            <div class="box">
                <div class="icon"><i class="far fa-address-card"></i></div>
                <div class="content">
                    <h3>Etapa 1</h3>
                    <p>Realize seu cadastro na Emprega<b>+</b> Preencha todos os dados com nome, area de interesse, endereço etc. Lembrando que precisamos de todos os dados preenchidos para realizar a prova avaliativa.</p>
                </div>
            </div>

            <div class="box">
                <div class="icon"><i class="fas fa-feather"></i></div>
                <div class="content">
                    <h3>Etapa 2</h3>
                    <p>Realize nosso exame avaliativo para verificarmos o seu nivel de dominio de cada habilidade que nossas empresas parceiras necessitam.</p>
                </div>
            </div>

            <div class="box">
                <div class="icon"><i class="fas fa-user-tie"></i></div>
                <div class="content">
                    <h3>Etapa 3</h3>
                    <p>Caso você se saia bem nos testes diversas empresas entrarão em contato com você através de nossa plataforma, e você também podera marcar as empresas que tem mais interesse de trabalhar.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-b">
        <div class="inside-section-b">
            <div>
                <h2>Por que você deveria se juntar a Emprega<b>+</b> e continuar conosco no longo prazo?</h2>
                <p>A Emprega<b>+</b> possui as vagas ideais para você em todos os lugares do pais. Você pode ser um desenvolvedor, analista financeiro, professor, cirurgião ou mesmo um profissional do marketing, aqui temos a sua vaga ideal e treinamentos
                    incriveis para que você chegue onde quer chegar!</p>
            </div>

            <h4>Algumas das Nossas Vagas</h4>
            <div class="another-box">

                <div>
                    <h5>Negócios</h5>
                    <p>• Consultoria</p>
                    <p>• Analista financeiro</p>
                    <p>• Investidor</p>

                </div>

                <div>
                    <h5>Marketing Online</h5>
                    <p>• Conteudo</p>
                    <p>• SEM</p>
                    <p>• Growth Hacker</p>
                    <p>• SEO</p>

                </div>

                <div>
                    <h5>Desenvolvedores</h5>
                    <p>• Back-end</p>
                    <p>• Front-End</p>
                    <p>• Full-Stack</p>
                    <p>• Mobile</p>
                    <p>• Analista de Sitemas</p>
                </div>

                <div class="hidden">
                    <h5>Professores</h5>
                    <p>• Matematica</p>
                    <p>• História</p>
                    <p>• Geografia</p>
                    <p>• Português</p>
                </div>

                <div class="hidden">
                    <h5>Medicina</h5>
                    <p>• Clinico Geral</p>
                    <p>• Gastroenterologo</p>
                    <p>• Cirurgião</p>
                    <p>• Pediatra</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-a">
        <h2>Etapas para Empresas</h2>
        <div class="container second-container">
            <div class="box">
                <div class="icon"><i class="far fa-address-card"></i></div>
                <div class="content">
                    <h3>Etapa 1</h3>
                    <p>Realize seu cadastro na Emprega<b>+</b> Preencha todos os dados com nome da empresa, area de interesse, endereço etc.</p>
                </div>
            </div>

            <div class="box">
                <div class="icon"><i class="fas fa-feather"></i></div>
                <div class="content">
                    <h3>Etapa 2</h3>
                    <p>Na Emprega <b>+</b> você podera ver todos os pontos fortes de todos os candidatos que tiverem o conhecimento que você precisa, economizando tempo e dinheiro</p>
                </div>
            </div>

            <div class="box">
                <div class="icon"><i class="fas fa-user-tie"></i></div>
                <div class="content">
                    <h3>Etapa 3</h3>
                    <p>Após filtrar o nivel de conhecimento dos candidatos e escolher os melhores candidatos para sua empresa você só ira pagar algo a emprega+ caso o candidato for contratado</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-c">
        <div class="">
            <div class="our-team">
                <h2>Idealizadores</h2>
                <div class="one">
                    <div class="brief p1">
                        <p id="persona" id="personb">.</p>
                        <span class="border">Estudante Estação Hack</span>
                        <h2 class="name">Matheus G. de Moura</h2>
                        <h2><img class="persons" src="static/imgs/matheus.jpg" alt=""></h2>
                    </div>

                    <div class="brief p2">
                        <p id="personb">.</p>
                        <span class="border">Estudante Estação Hack</span>
                        <h2 class="name">Geovanni XXXXX</h2>
                        <h2><img class="persons" src="static/imgs/geovanni.jpg" alt=""></h2>
                    </div>
                </div>

                <div class="two">
                    <div class="brief">
                        <p id="person3">.</p>
                        <span class="border">Estudante Estação Hack</span>
                        <h2 class="name">Thamirys XXXX</h2>
                        <h2><img class="persons" src="static/imgs/thamirys.jpg" alt=""></h2>
                    </div>

                    <div class="brief">
                        <p id="person4">.</p>
                        <span class="border">Estudante Estação Hack</span>
                        <h2 class="name">Estevan XXXX</h2>
                        <h2><img class="persons" src="static/imgs/estevan.jpg" alt=""></h2>
                    </div>

                    <div class="brief">
                        <p id="person5">.</p>
                        <span class="border">Estudante Estação Hack</span>
                        <h2 class="name">Lucas XXXX</h2>
                        <h2><img class="persons" src="static/imgs/matheus.jpg" alt=""></h2>
                    </div>
                </div>
            </div>

            <div class="last">
                <div class="button-box">
                    <h2>Curtiu? Cadastre-se Agora mesmo!</h2>
                    <a href="#a" class="btn">Sou Empresa</a>
                    <a href="#a" class="btn">Sou Candidato</a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="flex-box">
            <div class="footer">
                <div class="column ">
                    <p class="highlight footerlines">Emprega+</p>
                    <a href="#" class="footerlines">Nossa História</a>
                    <a href="#" class="footerlines">Sac</a>
                    <a href="#" class="footerlines">Termos de Uso</a>
                </div>

                <div class="column">
                    <p class="highlight footerlines">Para Empresas</p>
                    <a href="#" class="footerlines">Funcionamento</a>
                    <a href="#" class="footerlines">Histórias de Sucesso</a>
                    <a href="#" class="footerlines">Dúvidas</a>
                </div>

                <div class="column">
                    <p class="highlight footerlines">Para Candidatos</p>
                    <a href="#" class="footerlines">Funcionamento</a>
                    <a href="#" class="footerlines">Histórias de Sucesso</a>
                    <a href="#" class="footerlines">Dúvidas</a>
                </div>

                <div class="column">
                    <p class="highlight footerlines">Contato</p>
                    <p>+55 (11) 91234-1234</p>
                    <p>Estação Hack, Avenida Paulista 5° Andar</p>
                    <p>Email: Atendimento@empregamais.com</p>
                </div>
            </div>
        </div>

        <div class="small-line">
            <p>© 2019 Emprega+. Todos os direitos reservados</p>
            <div class="networks" class="case">
                <a href="#" target="_blank" title="Linkedin"><img class="sn" src="static/imgs/linkedin-letters.png" alt="Linkedin" title="Notify on Linkedin"></a>
                <a href="#" target="_blank" title="twitter"><img class="sn" src="static/imgs/twitter.png" alt="Tweeter"></a>
                <a href="#" target="_blank" title="Youtube"> <img class="sn" src="static/imgs/youtube-logo.png" alt="Youtube"></a>
                <a href="#" target="_blank" title=" Facebook"><img class="sn" src="static/imgs/facebook-logo.png" alt="Facebook"></a>
            </div>
        </div>
    </footer>
</body>

</html>