{% extends 'shared/base_logado.html' %}

{% block conteudo %}

<section>
    <h2>Lista de Empresas</h2>
    <form action="/list-empresa/{{ pessoa.id }}" method="post">
        {% csrf_token %}
        <input type="text" name='empresa'>
        <input type="submit" value="Enviar">
    </form>
    <p>{{ msg }}</p>
    <ul>
        {% for empresa in empresas %}
        <li><a href="/empresa/{{ pessoa.id }}/{{empresa.nome}}">
                <p>{{ empresa }}</p>
            </a></li>
        {% endfor %}
    </ul>
</section>

{% endblock %}