{% extends 'shared/base_logado.html' %}

{% block conteudo %}

<section class="lista-empresa">
    <h2>Lista de Empresas</h2>
    <div>
        <form action="/list-empresa/{{ pessoa.id }}" class="lista-form" method="post">
            {% csrf_token %}
            <input type="text" name='empresa'>
            <input type="submit" src="../static/imgs/icons8-pesquisar-26.png">
        </form>    
    </div>
    <p>{{ msg }}</p>
    <ul>
        {% for empresa in empresas %}
        <li><a href="/empresa/{{ pessoa.id }}/{{empresa.nome}}">
                <p>{{ empresa }}</p>
                <p class="menor">Empresa de {{ empresa.atuacao }}</p>
            </a></li>
        {% endfor %}
    </ul>
</section>

{% endblock %}