{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Assistant|Liu+Jian+Mao+Cao|Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style_cadastro.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
    <title>Document</title>
</head>

<body>
    <div class="base-cadastro">
        <a onclick="mudaCor()" href="#">Acessibilidade - clique aqui </a> {% block conteudo %} {% endblock %}
    </div>



</body>

</html>