{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Assistant|Liu+Jian+Mao+Cao|Montserrat&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style_logado.css' %}">
    <title>Emprega+</title>
</head>

<body>
    <nav class="purple">
        <h1 class="logo">Emprega<span class="logo-green">+</span></h1>
        <a href="/">sair</a>
    </nav>

    <header>

        <div class="img">
            <img id="img_perfil" src="{{ pessoa.img_perfil.url }}">
            <a class="menor" href="/configuracoes/{{pessoa.id}}">Configurações</a>
        </div>

        
        <div>
            <h2>{{ pessoa.nome }}</h2>
            <p>{{ pessoa.profissao }}</p>
            <p class="menor">Usuario(a) do Emprega+</p>
        </div>
    </header>

    <main>
        <nav class="sticky">
            <ul>
                <li><a href="/usuario/{{ pessoa.id }}">Pagina principal</a></li>
                <li><a href="/list-empresa/{{ pessoa.id }}">Busque por empresas</a></li>
            </ul>
        </nav>
        {% block conteudo %}

        {% endblock %}
    </main>

    <footer>
        <div>
            <h2>Emprega<span class="logo-green">+</span></h2>
        </div>
        <div>
            <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Empresas</a></li>
                    <li><a href="#">Perfil do Candidato</a></li>
                    <li><a href="#">Cursos</a></li>
                    <li><a href="#">Vagas</a></li>
            </ul>
        </div>
    </footer>

</body>

</html>